@import "tailwindcss";
@import "@fontsource/lxgw-wenkai-mono-tc";

/* =========================
   TEMA PADRÃO (Slate + Cyan)
   ========================= */
:root {
  --color-slate_light: #0F172A;
  --color-slate_medium: #334155;
  --color-slate_dark: #1E293B;

  --color-gray_dark: #38BDF81A;
  --color-gray_light: #E5E7EB;
  --color-cyan_stronger: #38BDF8;
}

@theme inline {
  --color-slate_light: var(--color-slate_light);
  --color-slate_medium: var(--color-slate_medium);
  --color-slate_dark: var(--color-slate_dark);

  --color-gray_dark: var(--color-gray_dark);
  --color-gray_light: var(--color-gray_light);
  --color-cyan_stronger: var(--color-cyan_stronger);

  --font-mono: "LXGW WenKai Mono TC", monospace;
}

/* =========================
   BASE
   ========================= */
body {
  background: var(--color-slate_light);
  color: var(--color-gray_light);
  font-family: "LXGW WenKai Mono TC", monospace;
}
