@import "tailwindcss";
@import "@fontsource/lxgw-wenkai-mono-tc";

:root {
--color-gray_light: #F2EEE7;
--color-gray_medium: #D5C6C0;
--color-brown_light: #EBE3DA;
--color-brown_medium: #654F4B;
--color-brown_stronger: #5D2725;
}

/* Tema escuro */
/* @media (prefers-color-scheme: dark) {
:root {
--color-gray_light: #0f0f0f;
--color-brown_light: #1a1a1a;
--color-brown_medium: #d4a574;
--color-brown_stronger: #b8860b;
--color-details: var(--color-brown_medium);
--color-text: #e0e0e0;
}
} */

@theme inline {
--color-gray_light: var(--color-gray_light);
--color-gray_medium: var(--color-gray_medium);
--color-brown_light: var(--color-brown_light);
--color-brown_medium: var(--color-brown_medium);
--color-brown_stronger: var(--color-brown_stronger);
--font-mono: "LXGW WenKai Mono TC", monospace;
}

body {
background: var(--color-gray_light);
color: var(--color-brown_medium);
font-family: "LXGW WenKai Mono TC", monospace;
}